@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);

/*body{
    overflow-x: hidden;
}*/

:root {
    --VermelhoPrincipal: #db1100;
    --LaranjaPrincipal: #ff621d;
    --Marrom: #462a1d;
    --VerdeClaro: #3ce057;
    --VerdeEscuro: #23a80c;
    --FontPrincipal: "M PLUS 2";
}
* {
    font-family:var(--FontPrincipal) ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    box-sizing: border-box;
    color: #000000;
}
html, body {
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
header {
    width: 100%;
    background-color: var(--LaranjaPrincipal);
}


#NavPrincipal{
    background-color: var(--LaranjaPrincipal);
    color: #000000;
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#NavPrincipal .home img{
    height: 1.5em;
}

.icon{
    height: 1em;
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--VermelhoPrincipal);
}
main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
main section #NavProdutos{
    background-color: var(--VermelhoPrincipal);
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}
main section #NavProdutos a{
    background-color:var(--LaranjaPrincipal);
    border: 3px solid var(--VermelhoPrincipal);
    padding: 5px;
    width: 140px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
main section #NavProdutos a:hover{
    border: 3px solid var(--LaranjaPrincipal);
    background-color: var(--VermelhoPrincipal);
}
main section aside{
    width: 400px;
    border: 2.5px solid var(--LaranjaPrincipal);
    display: flex;
    margin: 15px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
main section aside img{
    width: 350px;
    border-radius: 10px;
    padding: 10px 0px;
}