@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);

:root {
    --VermelhoPrincipal: #db1100;
    --LaranjaPrincipal: #ff621d;
    --Marrom: #462a1d;
    --VerdeClaro: #3ce057;
    --VerdeEscuro: #23a80c;
    --FontPrincipal: "M PLUS 2";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: var(--LaranjaPrincipal);
    font-family: var(--FontPrincipal);
}
nav{
    background-color: var(--LaranjaPrincipal);
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
nav .home{
    text-decoration: none;
    font-size: 1.5em;
    padding: 2.5px;
    border-radius: 10px;
}
nav .home img{
    height: 1.5em;
}
nav .LinkVendas{
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid var(--LaranjaPrincipal);
    font-size: 1.5em;
    font-weight: normal;
    padding: 2.5px;
}
nav .LinkVendas:hover{
    border-bottom: 2px solid #000000;
    transition: 1s;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--VermelhoPrincipal);
}
main section{
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
main section #NavProdutos{
    background-color: var(--VermelhoPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    width: 100%;
}
main section #NavProdutos div{
    background-color: var(--VermelhoPrincipal);
    height: 50px;
    max-width: 600px;
    width: 100%;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
}
main section #NavProdutos div {
    margin: 10px;
}

main section #NavProdutos a{
    background-color:var(--LaranjaPrincipal);
    border: 3px solid var(--VermelhoPrincipal);
    padding: 5px;
    width: 150px;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
main section #NavProdutos a:hover{
    border: 3px solid var(--LaranjaPrincipal);
    background-color: var(--VermelhoPrincipal);
}
main section aside{
    width: 400px;
    border: 2.5px solid var(--LaranjaPrincipal);
    display: flex;
    margin: 15px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
main section aside img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 0px;
}
main section aside #ContainerPreco button{
    background-color: var(--LaranjaPrincipal);
    padding: 3px;
    margin: 5px;
    border: 3px solid var(--VermelhoPrincipal);
    display: inline-block;
    border-radius: 5px;
}
main section aside #ContainerPreco button:hover{
    background-color: var(--VermelhoPrincipal);
    border: 3px solid var(--LaranjaPrincipal);
}
footer{
    text-align: center;
    padding: 4px;
}
footer a{
    color: var(--VermelhoPrincipal);
    text-decoration: none;
}
footer a:hover{
    color: var(--Marrom);
    text-decoration: underline;
}