@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=M+PLUS+2:100,200,300,regular,500,600,700,800,900);

:root{
    --VermelhoPrincipal: #db1100;
    --LaranjaPrincipal:#ff621d;
    --Marrom:#462a1d;
    --VerdeClaro:#3ce057;
    --VerdeEscuro:#23a80c;
    --FontPrincipal:"M PLUS 2";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: var(--LaranjaPrincipal);
    font-family: var(--FontPrincipal);
}
nav{
    background-color: var(--LaranjaPrincipal);
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
nav .home{
    text-decoration: none;
    font-size: 1.5em;
    padding: 2.5px;
    border-radius: 10px;
}
nav .home img{
    height: 1.5em;
}
nav .LinkVendas{
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid var(--LaranjaPrincipal);
    font-size: 1.5em;
    font-weight: normal;
    padding: 2.5px;
}
nav .LinkVendas:hover{
    border-bottom: 2px solid #000000;
    transition: 1s;
}
main section#ImgPizza{
    background-color: var(--VermelhoPrincipal);
    background-image: url("../img/BackPrincipal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 50vh;
    box-shadow: 3px 3px 30px #000000;
}
main section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
main section aside{
    width: 400px;
    border: 2.5px solid var(--LaranjaPrincipal);
    display: flex;
    margin: 15px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}